@model Telemetry.Web.ViewModels.Sensor.ValueTypeViewModel
@{
    ViewData["Title"] = "Sensor Controller";
    var data = new Dictionary<string, string>();
    data.Add("id", Model.SensorId.ToString());
}

<form asp-action="AddValueType" asp-controller="Sensor" asp-all-route-data="data">
    <div class="validation" asp-validation-summary="ModelOnly" />
    <div>
        <input asp-for="SensorId" type="hidden" />
        <div>
            <label asp-for="Name">Название</label><br />
            <input type="text" asp-for="Name" />
            <span asp-validation-for="Name" />
        </div>
        <div>
            <label asp-for="Type" >Тип значения</label>
            <select asp-for="Type">
                <option value="@Telemetry.Base.PayloadType.String">Текстовое значение</option>
                <option value="@Telemetry.Base.PayloadType.Number">Числовое</option>
            </select>
            <span asp-validation-for="Type" />
        </div>
        <div>
            <input type="submit" value="Создать" />
        </div>
    </div>
</form>