@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <h1>Добро пожаловать в интерфейс телеметрии</h1>
        <p>Вы можете добавлять датчики и получать статистику в разделе @Html.ActionLink("датчиков", "Index", "Sensor")</p>
        <p>Во вкладке пользователя вы можете @Html.ActionLink("Зарегистрироваться", "Register", "User"), @Html.ActionLink("Авторизоваться", "Login", "User"), @Html.ActionLink("Выйти", "Logout", "User")</p>
    </div>
</div>